.button {
  background: none;
  border: 1px solid #b1b1b1;
  border-radius: 2px;
  color: #d8d8d8;
  cursor: pointer;
  outline: none;
  padding: 10px;
}

.button:hover {
  background-color: #1e2c46;
}

.button:active {
  background-color: #141e30;
  color: #fff;
}