.textinput {
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  font-size: .9em;
}

.input {
  background: none;
  border: 0;
  border-bottom: 1px solid #bbbbbb;
  color: #ddd;
  font-size: 1em;
  outline: none;
  padding: 5px 0;
}

.input:focus {
  border-bottom: 1px solid #ebebeb;
}