.title {
  font-size: 1.2em;
  font-weight: normal;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.addgame {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form {
  margin: 20px auto;
  width: 300px;
}

.form * {
  margin-bottom: 5px;
}

.actions {
  display: flex;
  justify-content: space-between;
}